.schedule{
    width: 310px;
    height: 500px;
    background-color: var(--sub_orange);
    position: absolute;
    border-color: rgba(255, 131, 39, 0.75);
    border-radius: 5px;
    border-style: solid;
}

.scheduleButton{
    width: 50px;
    
}

.writeSchedule{
    background-color:var(--sub_orange);
    border: 0;
    margin-top: 440px;
    margin-left: 125px;
    height: 20px;
    
}
.namePost{
    color: rgba(255, 131, 39, 0.75);
    font-size: 16px;
    font-weight: 700;
}

.titleInput{
    margin-top: 38px;
}

.postSchedule{
    width: 310px;
    height: 500px;
    background-color: var(--sub_orange);
    position: absolute;
    border-radius: 5px;
    border-style:solid;
    border-color:rgba(255, 131, 39, 0.75);
    margin-left: 310px;
    margin-top: -480px;
   
}

.dailySchedule{
    background-color: rgba(255, 131, 39, 0.75);
    margin-top: 20px;
    position:absolute;
    width: 300px;
}

.checkSchedule{
    width: 310px;
    height: 500px;
    background-color: var(--sub_orange);
    position: absolute;
    border-radius: 5px;
    border-style:solid;
    border-color:rgba(255, 131, 39, 0.75);
    margin-left: 610px;
    
   
}