.postDutchpay_container {
  display: flex;
  justify-content: center;
  padding-top: 2.875rem;
}
  
.form-label {
  width: 100px;
  margin-right: 15px;
  text-align: right;
}

.postDutchpay_container .storeName, 
.postDutchpay_container .category, 
.postDutchpay_container .deliveryAddress, 
.postDutchpay_container .detailedAddress, 
.postDutchpay_container .totalDelivery, 
.postDutchpay_container .numPeople, 
.postDutchpay_container .deadlineDelivery, 
.explanation {
  background-color: var(--sub_orange);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
}

.storeName {
  width: 363px;
  height: 61px;
}

.postDutchpay_container .category {
  width: 363px;
  height: 31px;
  appearance: none;
  background: url("../../../public/assets/img/toggleIconOpen.png") no-repeat 3% 50%/0.938rem auto;
  background-size: 1rem;
  background-color: var(--sub_orange);
  padding-left: 2.1rem;
}

.postDutchpay_container .detailedAddress {
  width: 363px;
  height: 31px;
}

.deliveryAddress {
  width: 238px;
  height: 31px;
}

.address_search_modal {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailedAddress {
  margin-left: 115px;
  display: flex;
  text-align: center;
}

.searchAddress {
  margin-left: 24px;
  width: 101px;
  height: 31px;
  border: none;
  background: var(--main_orange);
  color: white;
  border-radius: 5px;
}

.totalDelivery, .numPeople {
  width: 158px;
  height: 31px;
}

.postDutchpay_container .deadlineDelivery {
  width: 238px;
}

#won, #myeong {
  margin-left: 15px;
}

.explanation {
  width: 363px;
  height: 201px;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post_dutchpay {
  width: 363px;
  height: 31px;
  background: var(--main_orange);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 800;
  margin-top: 27px;
  margin-left: 32px;
}