.schedule{
    width: 310px;
    height: 500px;
    background-color: var(--sub_orange);
    position: absolute;
    border-color: rgba(255, 131, 39, 0.75);
    border-radius: 5px;
    border-style: solid;
  
}

.scheduleButton{
    width: 50px;
    
}

.writeSchedule{
    background-color:var(--sub_orange);
    border: 0;
    bottom: 10px; /* 변경: margin-top 제거, bottom 속성 추가 */
    left: 10px; 
   
    height: 20px;
    position: absolute;
}
.namePost{
    color: rgba(255, 131, 39, 0.75);
    font-size: 16px;
    font-weight: 700;
}

.titleInput{
    margin-top: 38px;
}

.postSchedule{
    width: 310px;
    height: 500px;
    background-color: var(--sub_orange);
    position: absolute;
    border-radius: 5px;
    border-style:solid;
    border-color:rgba(255, 131, 39, 0.75);
    margin-left: 310px;
    margin-top: -300px;
   

}

  
.schedule-list {
     
    flex-direction: row;
    justify-content: flex-start;
  }
  
  

.dailySchedule{
    background-color: rgba(255, 131, 39, 0.75);
    margin-top: 20px;
    flex-direction: row;
    justify-content: flex-start;
    width: 300px;
}

.mySchedule{
    width: 310px;
    height: 500px;
    background-color: var(--sub_orange);
    position: absolute;
    border-radius: 5px;
    border-style:solid;
    border-color:rgba(255, 131, 39, 0.75);
    margin-left: 630px;
    
   
}