.detail_sharing {
  display: flex;
  justify-content: center;
  padding-top: 27px;
}

.detail_sharing .sharingdetail_title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sub_orange);
  font-weight: 800;
  font-size: 16px;
  height: 42px;
  width: 833px;
  border-radius: 5px;
}

.detail_sharing .userhelp_sharedetail {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.detail_sharing .postTime {
  text-align: end;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 700;
}

.detail_sharing .component_sharing{
  display: flex;
  justify-content: center;
}

.detail_sharing .items_sharing{
  flex-direction: column;
  margin-left: 50px;
}

.categorySharing, .itemSharing ,.expirySharing, .DeadlineSharing{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sub_orange);
  font-weight: 700;
  border: none;
  width: 147px;
  height: 42px;
  margin-left: 13px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.category_sharing, .item_sharing,.expiry_sharing,.deadline_sharing{
  display: flex;

}

.detail_sharing label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100px;
  font-size: 16px;
  font-weight: 700;
  height: 42px;

}

.modify_sharing, .delete_sharing{
     font-size:12px;
     font-weight:bolder;
     border:0;
     outline:0; 
     background-color: #FFFAF3;
  }

  .sharedetailImg img {
    width: 312px;
    height: 312px;
  }
  
  .profile_sharing {
    color: var(--main_orange);
    font-weight: 700;
    font-size: 15px;
  }

  .profile_sharing img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 14px;
  }

  .ingredient_sharing {
    height: 180px;
    background-color: pink;
  }

  .Ingredient_sharing_content {
    background-color: var(--sub_orange);
    border: none;
    border-radius: 5px;
    height: 128px;
    width: 620px;
  }

  #Ingredient_sharing {
    font-size: 16px;
    font-weight: 700;
  }
  
  .LowerUserHelp_sharing{
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
  }

  .shareLike{
    border:0;
    outline:0; 
    background-color: var(--sub_orange);
    font-size: 16px;
    font-weight:bolder;
    width: 70px;
    height: 50px;
    border-radius: 5px;
  }

  .shareApplication, .finishSharing {
    border:0;
    outline:0; 
    background-color:  #FF8327;
    font-size: 16px;
    font-weight:bolder;
    color: white;
    width: 97px;
    height: 50px;
    border-radius: 5px;
  }

  .SendMessage{
    border:0;
    outline:0; 
    background-color:  #FF8327;
    font-size: 16px;
    font-weight:bolder;
    color: white;
    width: 97px;
    height: 50px;
    border-radius: 5px;
  
  }
  .reply{
    background-color:var(--sub_orange);
  }
  
  .userCommentBox{
    margin-left: 11px;
    margin-top: 100px;
  
  }
  
  .inputcomment{
    justify-content: center;
    
    width: 770px;
    height: 778px;
    background-color:var(--sub_orange);
    border-radius: 5px;
    overflow: scroll;
  }
  
  .inputCommentBox{
    position: absolute;
    background-color: var(--sub_orange);
    width: 770px;
    height: 130px;
    border-radius: 5px;
  }
  
  
  
  .inputComment{
    width: 740px;
    height: 102px;
    border-radius: 5px;
    justify-content:center;
    margin-top:650px;
    border:0;
    outline:0;
    border-top: 100px;
    margin-left: 15px;
    position:absolute;
   margin-top:15px;
  }
  
  .submitComment{
    width: 63px;
    height: 33px;
    border-radius: 5px;
    background-color: #FF8327;
    border:0;
    outline:0; 
    font-size: 16px;
    font-weight:bolder;
    color: white;
    margin-top: 70px;
      margin-left: 680px;
      position:relative;
  }
  
  .submitReply{
      width: 40px;
      height: 20px;
  
      border-radius: 5px;
      background-color: #FF8327;
      border:0;
      outline:0; 
      font-weight:bolder;
      color: white;
      margin-top: -10px;
      margin-left: 137px;
      position:relative;
  }
  
  .comment_cmp1{
    position:relative;
    background-color: var(--sub_orange);
    margin-top: 10px;
    width: 800px;
    height: 534px;
    
  }
  .comment_cmp{
    width: 800px;
    margin-left: 10px;
  }
  .sharing_comment{
    width: 833px;
    height: 100px;
    margin-top: 100px;
    border-radius: 5px;
    margin-right: 400px;
    position:absolute;
    justify-content:center;
    margin-left: 0px;
  }

  .replyCommentBox{
    margin-top: -50px;
  }

  
.commentlineReply img{
  width: 790px;
  margin-left: -100px;
  margin-top: -220px;
}
  .reply{
    border:0;
    outline:0; 
    font-size: 12px;
    font-weight:bold;
    background-color: white;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .commentBox{
    height: 100px;
    width: 800px;
    border-radius: 5px;
    background-color:  var(--sub_orange);
    margin-top: -135px;
  }
  .reply_cmp{
    display: flex;
    margin-left: 27px;
  }
  .userReplyBox{
    margin-left: 95px;
    margin-top: -30px;
  }
  .inputreply{
    display: flex;
    margin-left: 95px;
  }
  .inputReply{
    border-radius: 5px;
    justify-content:center;
    border:0;
    outline:0;
    position: relative;
  }
  
  .submitReply{
    border-radius: 5px;
    background-color: #FF8327;
    border:0;
    outline:0; 
    font-size: 16px;
    font-weight:bolder;
    color: white;
  }
  .purchase_reply{
    margin-top: 135px;
  }
  
  .userProfile img{
    width: 35px;
    height: 35px;
    margin-bottom:-50px;
  }
  
  .userName{
    margin-top: -15px;
    color:#FF8327;
    margin-left: 42px;
    font-size: 14px;
  }
  
  .userComment{
    font-size: 14px;
  
  }
  
  .userPostTime{
    font-size: 10px;
    margin-bottom: 100px;
    margin-left: 595px;
  
  }
  .comment{
   margin-top: -100px;
  
  }
  
  .commentline img{
    width: 740px;
    margin-top: -220px;
  }
  
  .userProfileReply img{
    width: 35px;
    height: 35px;
    margin-top: -70px;
  }
  
  .userNameReply{
    margin-top: -70px;
    color:#FF8327;
    margin-left: 42px;
    font-size: 14px;
  }
  
  .userComment{
    margin-left: 10px;
  }
  
  .userCommentReply{
    font-size: 14px;
    
  }
  
  .userPostTime{
    font-size: 10px;
    margin-bottom: 100px;
    margin-left: 600px;
  
  }
  .comment{
   margin-top: -100px;
  
  }
  
  .commentline img{
    width: 790px;
    margin-top: -220px;
    margin-left: -30px;
  }
  
  
  .commentlineReply img{
    width: 790px;
    margin-left: -100px;
    margin-top: -220px;
  }
  
  .userPostTimeReply{
    font-size: 10px;
    margin-bottom: 100px;
    margin-left: 555px;
  }