
/*BODY*/
.postSharing_container {
  display: flex;
  justify-content: center;
  padding-top: 2.875rem;
}

.postSharing_container .foodImg_upload {
  display: flex;
  margin-bottom: 1.375rem;
}
  
.postSharing_container .form-label {
  width: 100px;
  margin-right: 15px;
  text-align: right;
}

.postSharing_container .title, .category, .category2, .foodCondition, .expiration_date, .deadline {
  background-color: var(--sub_orange);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
}

.title {
  width: 363px;
  height: 61px;
}

.postSharing_container .category, .category2 {
  width: 13.75rem;
  height: 1.938rem;
  margin-right: 30px;
  appearance: none;
  background: url("../../../public/assets/img/toggleIconOpen.png") no-repeat 6% 50%/0.938rem auto;
  background-size: 1rem;
  background-color: var(--sub_orange);
  padding-left: 2.1rem;
}

.foodCondition {
  width: 363px;
  height: 132px;
}

.postSharing_container .expiration_date, .deadline {
  width: 13.75rem;
  height: 1.938rem;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.postSharing_container .post_sharing {
  width: 363px;
  height: 31px;
  background: var(--main_orange);
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 800;
  margin-top: 27px;
  margin-left: 30px;
}