.detail_purchase{
  margin-left: 150px;

}

#nowTime{
  margin-left: 730px;
}

.detail_Title {
  background-color: var(--sub_orange);
  font-size: 16px;
  font-weight:bolder;
  height: 42px;
  width: 833px;
  border-radius: 5px;
  margin-top: 30px;
}

#detail_title{
  display: flex;
  justify-content: center;
  margin-top: -30px;
  line-height: 47px;
}


.userhelp_detail{
  margin-top: 10px;
  margin-left: 720px;

}


.modify, .delete{
     font-size:12px;
     font-weight:bolder;
     border:0;
     outline:0; 
     background-color: #FFFAF3;
  }



  .detail_purchase .detailImg img {
    background-color: white;
    width: 312px;
    height: 312px;
    margin-left: 120px;
  

  }

.component_purchase{
  display: flex;

  
}

.items_purchase{
  flex-direction: column;
  margin-left: 50px;
 
}

.categoryPurchase, .itemPurchase ,.recruitPurchase, .costPurchase ,.DeadlinePurchase{
  background-color: var(--sub_orange);
  border: none;
  width: 147px;
  height: 42px;
  margin-left: 13px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.category_purchase, .item_purchase ,.recruit_purchase,.cost_purchase ,.deadline_purchase{
  display: flex;

}


.detailform{
  text-align: center;
  width: 100px;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight:bolder;
  margin-left: -25px;

}

  
  .profile {
    margin-top: 100px;
    margin-left: -408px;
  }

  
  .IngredientStatus {
    background-color: var(--sub_orange);
    border: none;
    border-radius: 5px;
    height: 128px;
    width: 597px;
    display: flex;

  }




  #won {
    font-size: 16px;
    font-weight:bolder;
    margin-top: 7px;
  }

  #IngredientStatus{
    margin-top: 50px;
    font-size: 16px;
    font-weight:bolder;
    margin-top: 10px;
    display: flex;
    margin-left: 130px;
  }

  .IngredientStatus{
    margin-left: 120px;
   
  }
  
  .LowerUserHelp{
    margin-top: 60px;
  }

  .like{
    border:0;
    outline:0; 
    background-color: var(--sub_orange);
    font-size: 16px;
    font-weight:bolder;
    margin-left: 0px;
    width: 70px;
    height: 50px;
    border-radius: 5px;
  }

  .application{

    border:0;
    outline:0; 
    background-color:  #FF8327;
    font-size: 16px;
    font-weight:bolder;
    color: white;
    margin-left: 670px;
    width: 97px;
    height: 50px;
    border-radius: 5px;
  }


  

  .inputcomment{
    justify-content: center;
    position:absolute;
  }


.inputComment{
    width: 740px;
    height: 102px;
    border-radius: 5px;
    justify-content:center;
    margin-top:0px;
    border:0;
    outline:0;
    border-top: 100px;
    margin-left: 30px;


}

.submitComment{
    width: 63px;
    height: 33px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #FF8327;
    border:0;
    outline:0; 
    font-size: 16px;
    font-weight:bolder;
    color: white;
    margin-top: 60px;
    margin-left: 700px;
    position:absolute;
}

.comment_cmp1{
  position:relative;
  background-color: var(--sub_orange);
  margin-top: 10px;
  width: 800px;
  height: 534px;
  
}


.comment_cmp{
  width: 800px;
  margin-left: 10px;
}

.purchase_comment{
  width: 833px;
  height: 100px;
  margin-top: 20px;
  border-radius: 5px;
  margin-right: 400px;
  position:absolute;
  justify-content:center;
  
}

.reply{
  border:0;
  outline:0; 
  font-size: 12px;
  font-weight:bolder;
  background-color: white;
  border-radius: 5px;
  margin-left: 10px;
}

.userCommentBox{
  margin-left: 11px;
  margin-top: -30px;
}

.commentBox{
  height: 100px;
  width: 800px;
  border-radius: 5px;
  background-color:  var(--sub_orange);
  margin-top: -135px;
}


.reply_cmp{
  display: flex;
  margin-left: 27px;
}

.userReplyBox{
  margin-left: 95px;
  margin-top: -30px;
}

.inputreply{
  display: flex;
  margin-left: 95px;
}

.inputReply{
  border-radius: 5px;
  justify-content:center;
  border:0;
  outline:0;
}

.submitReply{
  border-radius: 5px;
  background-color: #FF8327;
  border:0;
  outline:0; 
  font-size: 16px;
  font-weight:bolder;
  color: white;
}

.purchase_reply{
  margin-top: 135px;
}


