.img_preview {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sub_orange);
    width: 8.125rem;
    height: 8.125rem;
    border-radius: 0.313rem;
  }
  
  .img_preview > img {
    width: 6.875rem;
    height: 6.875rem;
    border-radius: 0.313rem;
  }
  
  .imgUpload_btn > input[type=file]::file-selector-button {
    margin-top: 0.625rem;
    width: 4.688rem;
    height: 1.938rem;
    border: none;
    border-radius: 0.313rem;
    background-color: var(--main_orange);
    color: white;
    font-weight: 800;
  }