.upper_note{
    width: 100%;
    height: 96px;
    background-color: var(--sub_orange);
    justify-content: center;
    display: flex;
    
}

.upperNote{
    font-size: 26px;
    font-weight: 400;
    margin-left: -320px;
    margin-top: 30px;
}

.noteRoom{
    width: 621px;
    height: 420px;
    background-color: var(--sub_orange);
    border-radius: 5px;
    margin-left: 300px;
    margin-top: -85px;
    display: flex;
    position: relative;

}

.noteImg{
    margin-top: 30px;
    margin-left: 195px;
    position: absolute;
}

.inputChat, .submitChat{
    position:absolute;
}

.inputChat{
    width: 575px;
    height: 36px;
    margin-top: 370px;
    margin-left: 20px;
    border:0;
    outline:0;
    border-radius: 5px;
}

.submitChat{
    border:0;
    outline:0; 
    margin-top: 375px;
    margin-left: 550px;
    background-color:  white;
}
.chattingBox{
    margin-top: -425px;
    margin-left: 295px;
}



.chatBubble::after {
    border-color: white transparent;
    border-style: solid;
    border-width: 15px 20px 0px 0px;
    content: '';
    display: block;
    left: 100px;
    position: absolute;
    top: 7px;
    width: 0;
    z-index: 1;
    
  }

.chatBubbleReturn{
    margin-left: 25px;
}

.chatBubbleReturn:after {
	content: '';
	position: absolute;
	left: 0;
	top: 40%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-left: -20px;
}
.outputChat{
    position: absolute;
    margin-top: 0px;
}

.chatBubble{
    margin-left: 480px;
}

.chattingContainer{
    width: 208px;
    height: 420px;
    background-color:var(--sub_orange);
    border-radius: 5px;
    margin-left: 390px;
    margin-top: 30px;
    position: absolute;
}


