.biglogo_{
    display: flex;
    justify-content: center;
  
}



.currentID, .currentName{
    display: flex;
    justify-content: center;
    margin-top: 43px;
    margin-right: 55px;
}

.currentPassword{
    display: flex;
    justify-content: center;
    margin-right: 103px;
    margin-top: 43px;
}

.changePassword_{
    display: flex;
    justify-content: center;
    margin-right: 103px;
    margin-top: 43px;
}

.checkChnnP{
    display: flex;
    justify-content: center;
    margin-right: 138px;
    margin-top: 43px;
}


.CurrentID, .CurrentName, .CurrentPassword, .ChangePassword, .CheckChnnP{
    background-color: var(--sub_orange);
    width: 297px;
    height: 31px;
    border: none;
    border-radius: 5px;

}

.currentId-label, .currentName-label, .currentP-label,.changeP-label,.checkP-label{
    font-size: 16px;
    font-weight: 800;
    margin-right: 19px;
    
}

.changeP_submit{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: 9px;
}

.ChangeP_submit{
    width: 297px;
    height: 31px;
    background: var(--main_orange);
    border: none;
    border-radius: 5px;
    color: white;
}
